.DS_Store
/.env
/vendor/
/build/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
!/writable/**/index.html
/.phpunit.result.cache

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/_output/
/tests/tests/
/tests/results/
